*{
  box-sizing: border-box;
}
  
  body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }
  
/* style untuk header */
header {
  background-color: #b50606;
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  }
  
  /* style untuk judul halaman */
h1 {
  margin-top: 0;
  }
  
  /* style untuk konten utama */
main {
  margin-left: 150px;
  background-color: #FFFFFF;
  }

    /* style untuk sidebar */
    .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      width: 150px;
      height: 100%;
      background-color: #000000;
      padding: 20px;
    }
    
    .sidebar a {
      color: #fff;
      text-decoration: none;
    }
    
    .dropdown {
      width: 130px;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      position: relative;
    }
    
    .dropdown-menu {
      position: absolute;
      background-color: #0060f1;
      width: 130px;
      padding: 10px 20px;
      left: 130px;
      top: 0;
      border-radius: 10px;
      box-shadow: 2px 3px 10px rgb(84, 84, 84);
      display: none;
    }
    
    .dropdown-menu p {
      margin: 5px 0px;
      padding: 5px 10px;
      border-radius: 5px;
    }
    
    .dropdown-menu p:hover {
      background-color: #fff;
      color: #1964e6;
    }
    
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
    
    /* add styles for nested dropdowns */
    .dropdown-menu .dropdown {
      width: auto;
      padding: 0;
      margin: 5px 0;
    }
    
    .dropdown-menu .dropdown:hover > .dropdown-menu {
      display: block;
      top: 0;
      left: 130px;
      border-radius: 5px;
    }
    
    .dropdown-menu .dropdown-menu {
      top: 0;
      left: 130px;
      border-radius: 5px;
      display: none;
    }
    
    .dropdown-menu .dropdown-menu p {
      margin: 0;
      padding: 5px 10px;
    }
    
    .dropdown-menu .dropdown-menu p:hover {
      background-color: #fff;
      color: #b50606;
    }
    
    .dropdown-menu .dropdown-menu .dropdown:hover > .dropdown-menu {
      display: block;
      top: 0;
      left: 130px;
      border-radius: 5px;
      }
  
    .slide {
      position: relative;
      margin: 0 auto;
      width: 450px;
      height: 490px;
      overflow: hidden;
      }
    
    .slide input {
      display: block;
      position: absolute;
      width: 960px;
      height: 450px;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
      margin: 0;
      padding: 0;
      }
    
    .slide img {
      visibility: hidden;
      opacity: 0;
      height: 450px;
      position: absolute;
      left: 0;
      top: 0;
      width: 400px;
      border: 20px solid #ddd;
      border-radius: 20px;
      transition: all 0.5s  
      }
          
  .slide input:checked + img {
      visibility:visible;
      opacity:1
      }
        
  .slide input:checked { display:none }
        
  .slide input:nth-child(1) { z-index:13 }
  .slide input:nth-child(3) { z-index:12 }
  .slide input:nth-child(5) { z-index:11 }
  .slide input:nth-child(7) { z-index:10 }
        
  .slide input:nth-child(1):checked ~ input:nth-child(3),
  .slide input:nth-child(3):checked ~ input:nth-child(5),
  .slide input:nth-child(5):checked ~ input:nth-child(7) { z-index:15 }
          
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
          
li {
    display: inline-block;
    margin-right: 50px;
    vertical-align: bottom;
    }
          
a {
    position: relative;
    }
          
    .gambar {
        position: absolute;
        top: 5px;
        left: 215px;
        display: none;
        width: 300px; /* mengubah ukuran gambar kecil menjadi 50px */
        height: 300px;
        object-fit: cover; /* agar gambar di-fit ke ukuran yang ditentukan tanpa mempertahankan aspek rasio */
        }
          
a:hover .gambar {
    display: block;
    }
            
a:active .gambar {
    display: none;
    }
            
a:hover {
    color: blue;
    text-decoration: underline;
    }         
    
    .container {
      margin: auto;
    }


@media only screen and (min-width: 1200px) {
  .article{
    /** use display flex LOL **/
    display : flex;
  }
}